button {
  background-color: rgb(227, 28, 95);
  color: white;
  border-radius: 10%;
  border-color: rgb(227, 28, 95);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 15px;
}
