img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
#spotsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 40px;
  margin-right: 20px;
}

div {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
