ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;

  width: 100%;
  padding: 0px;
  margin-top: 0%;
}
li {
  display: flex;
  gap: 5px;
}

i {
  color: black;
}
#navbar {
  display: flex;
}
#signup {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
