button {
  background-color: rgb(227, 28, 95);
  color: white;
  border-radius: 10%;
  border-color: rgb(227, 28, 95);
  width: auto;
  height: auto;
  font-size: 15px;
}

button#signup {
  width: auto;
  height: auto;
  color: white;
  font-weight: lighter;
}
button#signup-btn {
  width: 55px;
  height: 45px;
  color: white;
  font-weight: lighter;
  font-size: medium;
  border-radius: 15px;
}
button#login-btn {
  width: 55px;
  height: 45px;
  font-size: medium;
  border-radius: 15px;
}
h3 {
  font-weight: 500;
  color: rgb(255, 90, 95);
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 15px;
}
